<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('partials/bootstrap') %>
    <title>Administrador</title>
  </head>
  <body class="">
    <%- include ("partials/loggedNav.ejs") %>
    <div class="container my-4 d-flex flex-column justify-content-center align-items-center">
      <div class="container d-flex w-100">
        <h1 class="me-auto">Listado de Articulos</h1>
        <a class="btn btn-success text-center my-2" href="admin/new" role="button"
          >Nuevo Articulo</a
        >
      </div>
      <table class="table table-striped table-hover mt-3 border">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Image</th>
            <th scope="col">Created at</th>
            <th scope="col">Author</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (const article of articles){ %>
          <tr>
            <th scope="row"><%= article.id %></th>
            <!-- prettier-ignore -->
            <td><a href="<%- `/article/${article.id}` %>" class="text-decoration-none text-reset"><%= article.title %></a></td>
            <td>
              <a href="<%- `/article/${article.id}` %>" class="text-decoration-none text-reset"
                ><%= article.content %></a
              >
            </td>
            <td><img class="img-thumbnail" src="<%= article.image %>" alt="" /></td>
            <td><%= article.createdAt %></td>
            <td>
              <!-- prettier-ignore -->
              <%= `${article.user.firstname} ${article.user.lastname}`%>
            </td>

            <td class="align-middle">
              <a class="btn btn-primary w-100 mb-1" href="<%- `edit/${article.id}` %>" role="button"
                >Editar</a
              >
              <a class="btn btn-danger w-100" href="<%- `delete/${article.id}` %>" role="button"
                >Eliminar</a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <%- include ( 'partials/footer' ) %>
  </body>
</html>
