<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/bootstrap") %>
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= article.title %></title>
  </head>

  <body>
    <%- include("partials/navbar") %>
    <section class="hero d-flex flex-column justify-content-center align-items-center">
      <h2><%= article.title %></h2>
      <span
        >Creado por <%= article.user.firstname %>
        <!-- prettier-ignore -->
        <%=article.user.lastname %> el <%= article.createdAt %></span
      >
    </section>

    <div class="container col-6 mt-4">
      <p><%= article.content %></p>
      <hr />
    </div>

    <div class="d-flex flex-column mx-auto mt-3" style="width: 600px">
      <form action="/article/<%= article.id %>" method="post">
        <h3>Add your comment</h3>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Name" name="name" />
        </div>

        <div class="form-floating">
          <textarea class="form-control" name="comment"></textarea>
        </div>

        <div class="d-grid gap-2 col-auto">
          <button class="btn btn-primary mb-3 mt-3" type="submit">Send</button>
        </div>
      </form>
      <h3>Comments</h3>
      <% for (const comment of comments) { %>
      <div>
        <p><%= comment.content %></p>
        <% const authorId = comment.userId %>
        <small
          >Creado por <%= users[authorId - 1].firstname %> <%= users[authorId - 1].lastname
          %></small
        >
      </div>
      <%}%>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
