<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/bootstrap") %>
    <title>Document</title>
  </head>

  <body>
    <div>
      <h2><%= showArticle.dataValues.title %></h2>
      <span
        >Creado por <%= showArticle.user.dataValues.firstname %> <%=
        showArticle.user.dataValues.lastname %> el <%= showArticle.dataValues.createdAt %></span
      >
    </div>
    <div>
      <p><%= showArticle.dataValues.content %></p>
      <hr />
    </div>
    <div>
      <form>
        <h3>Add your comment</h3>
        <input type="text" placeholder="Name" />
        <input type="textarea" />
        <button>Send</button>
      </form>
      <h3>Comments (número de comentarios)</h3>
      <div>
        <p>Acá iría el comentario de alguien</p>
        <h5>Acá el autor del comentario</h5>
      </div>
    </div>
  </body>
</html>
