<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/bootstrap") %>
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= article.title %></title>
  </head>

  <body>
    <%- include("partials/navbar") %>
    <section class="hero d-flex flex-column justify-content-center align-items-center">
      <h2><%= article.title %></h2>
      <span
        >Creado por <%= article.user.firstname %>
        <!-- prettier-ignore -->
        <%=article.user.lastname %> el <%= article.createdAt %></span
      >
    </section>

    <div>
      <p><%= article.content %></p>
      <hr />
    </div>
    <div class="d-flex flex-column">
      <form action="/article/<%= article.id %>" method="post">
        <h3>Add your comment</h3>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Name" name="name" />
        </div>

        <div class="form-floating">
          <textarea class="form-control" name="comment"></textarea>
        </div>

        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3 mt-3">Send</button>
        </div>
      </form>
      <h3>Comments (número de comentarios)</h3>
      <div>
        <p>Acá iría el comentario de alguien</p>
        <h5>Acá el autor del comentario</h5>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
